nav{
    width: 230px;
    border-right: 2px solid var(--shop-border-color);
    background-color: var(--shop-background-color);
    box-shadow:3px 0 #00000050;
    filter: brightness(110%);
    transition: width 0.2s ease-in-out;
    --nav-active-bg: url("src/assets/icons/NavBG.svg");
}
.nav-link{
    color: var(--shop-a-color);
    width: 101%;
    height: 35px;
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    /*filter: drop-shadow(2px 2px 3px #000000);*/
    margin: 0;
}
.nav-link:hover, .nav-link:focus {
    color: var(--shop-a-hover-color);
    transform: translateY(-3px);
}
.active-link{
    /*background-image: url("src/assets/icons/NavBG.svg");*/
    background-image: var(--nav-active-bg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media (max-width: 993px) {
    nav{
        width: 100vw;
        border-right: none;
    }
    .nav-link{}
    .active-link{
        background-image: none;
    }
}