.productItem{
    width: 100%;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid var(--shop-border-color);
}
.productItem img{
    border: 1px solid var(--shop-border-color);
}
.productItem div{
    display: flex;
    margin-bottom: .5rem;
}