:root{
    color: rgba(255, 255, 255, 0.87);
    background-color: #272c28;

    --shop-background-color: #272c28;
    --shop-hover-background-color: #565656;

    --shop-border-color: #F7F5B8;

    --shop-a-color: #A4C713;
    --shop-a-active-color: #eaeaea;
    --shop-a-hover-color: #eaeaea;

    --shop-font-color: #A4C713;

    --bs-body-color: #ffe883;
    --bs-tertiary-bg: #F7F5B8;
    --bs-border-color: #F7F5B8;
    --bs-body-bg: #F7F5B8;
}