#root {
    /*max-width: 1280px;*/
    width: 100%;
    margin: 0 0 14px 0;
    padding: 20px;
    text-align: center;
    overflow-x: hidden;
}
.page {
    /*padding-bottom: 46vh;*/
}
.list-box{
    padding-top: 2rem;
    flex: 2;
}